<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Book My Cargo |</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: 'Roboto', sans-serif;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="left" style="padding: 10px 0px;">
							<img src="https://i.ibb.co/PDDDWrR/bar.jpg" alt="http://15.207.223.54:8080/cargo/" style="display: block;margin-left: 15px; width:750px" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>								
                                    <p style="color: #4A4648; font-family: 'Roboto', sans-serif; font-size:12px;font-weight: 300;">Hi,</p>
                                    <p style="color: #4A4648; font-family: 'Roboto', sans-serif; font-size:12px;font-weight: 300;">In response to your feedback received on Date: <label th:text="${createddate}"></label>  </p>                                   
                                    <div >  				       
                                        <p><span style="font-size:12px;font-weight: 600;">Message :</span> <span><label th:text="${message}" style="font-size:12px;color: #4A4648;"></label></span></p>
                                        <p><span style="font-size:12px;font-weight: 600;">Action Taken :</span> <span><label th:text="${actionmessage}" style="font-size:12px;color: #4A4648;"></label></span></p> 										
                                    </div>								
                                    <p style="color: #4A4648; font-family: 'Roboto', sans-serif; font-size:12px;font-weight: 300;">This is a system generated email, please do not reply to this mail ID.</p>
                                    <p style="color: #4A4648; font-family: 'Roboto', sans-serif; font-size:12px;font-weight: 300;">Have a nice day!</p>                                 
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#E4E4E4">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" bgcolor="#E4E4E4">
                                        
                                        <p style="color: #161a47;padding: 15px 0;font-size:12px;font-weight: 600;">© BookMyCargo 2021. All rights reserved</p>
                                    </td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>